<html>
<head>
  <title>draw YOUR dreams</title>
  <link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>
<body>
  <div id="container">
    <h1>HI!</h1>
    <p>welcome to draw your dreams, where you can draw your dreams.</p>
    <h2>Click <a href="/login">HERE!!!!!</a> to Log In.</h2>
  </div>
</body>
</html>
