<html>
<head>
  <title>LOGIN</title>
</head>
<body>
<form action="/login" method="post">
  <input type="text" name="username" autofocus />
  <input type="password" name="password" />
  <input type="submit" value="Submit now" />
</form>
</body>
</html>
