<html>
<head>
  <title>REGISTER</title>
</head>
<body>
<h1>HI THERE COME REGISTER FOR OUR FUN SITE</h1>
<img src="/assets/images/look.png">
<form action="/register" method="post">
<label for="username">USERNAME:</label><input type="text" name="username" autofocus /><br />
<label for="password">PASSWORD:</label><input type="password" name="password" />
<input type="submit" value="Submit now" />
</form>
</body>
</html>
