div.controls {
  position: absolute;
  top: 650px;
  left: 0px;
  width: 900px;
  height: 400px;
  margin: auto;
  background-color: tomato;
  border: 2px solid gold;
  display: inline;
}

canvas {
  position: absolute;
  left: 0px;
  top: 0px;
  border: 2px solid green;
  outline: none;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
  cursor: none;
  z-index: 1;
}

canvas.mouseOverlay {
  position: absolute;
  left: 0px;
  top: 0px;
  border: 2px solid green;
  outline: none;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
  cursor: none;
  z-index: 2;
}

button {
  background-color: orange;
  color: black;
  text-align: center;
  font-weight: bold;
  font-family: 'Courier New';
  font-size: 12px;
  padding: 2px;
  margin: 2px;
  outline: none;
}

button:hover {
  background-color: black;
  color: white;
}
